<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="" roles="LNG Cargo Users" />
                <add accessType="Allow" roles="PI Web API Admins" />
            </authorization>
        </security>
        <httpRedirect enabled="false" />
        <rewrite>
            <rules>
                <remove name="CanonicalHostNameRule1" />
                <rule name="CanonicalHostNameRule1" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^qvision\.cameronlng\.com$" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="https://qvision.cameronlng.com/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    </system.webServer>
</configuration>
